@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*  {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* header */
.header {
    padding: 20px 300px;
    background-color: #1F2937;
    background-image: url();
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    max-height: 300px;
}

.header-content-left {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 7px;
}

.header-content-right {
    padding: 100px 150px;
    background-color: rgb(156, 156, 156);
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

button {
    padding: 7px;
    max-width: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 15px;
}
/* header */

/* section-1 */
.section-1 {
    padding: 50px;
    background-image: url();
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 50px;
    align-items: center;
}

.info {
    max-width: 200px;
    text-align: center;
    line-height: 1.5;
}

.info-text {
    font-size: 18px;
}

.info-img {
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
/* section-1 */

/* quote */
.quote-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    background-image: url();
    flex-wrap: wrap;
}

.quote {
    max-width: 880px;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

.quoted {  
    margin-left: 500px;
    font-size: 20px;
    font-weight: bold;
}

/* sign-up */
.sign-up {
    padding: 100px 300px;
    display: flex;
    justify-content: center;
}

.sign-up-container {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    width: 90rem;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
}

.sign-up-button {
    width: 100px;
    padding: 0 10px;
    height: 40px;
    border-radius: 10px;
    border-color: #e5e7eb;
    font-size: 15px;
    margin-right: 100px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 50px;
}

.sign-up-header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.sign-up-info {
    font-size: 18px;
    color: #e5e7eb;
}


/* sign-up */